<!-- Section 1 - Dark-->
<div class="container-fluid bg-dark text-light p-5">
  <div class="container bg-dark p-5">
    <h1 class="display-4">About Me</h1>
    <hr />
    <div class="row">
      <div class="col-md">
        <img class="img-profil" src="assets/images/benjamin.jpeg" alt="photo of benjamin lefebvre" />
      </div>
      <div class="col-md">
        <h3>Benjamin Lefebvre</h3>
        <p>
          Actively looking for a position in a dynamic team where I can
          contribute my coding skills, work ethic, and dedication to meet and
          exceed expectations. Somewhere I can make a positive contribution and
          grow as a professional. Excellent at multi-tasking daily. Strong
          fundamental skills in designing, developing, and deploying various
          kinds of software applications, human-computer interfaces, and
          enterprise information systems Knowledgeable in rich Internet
          applications, mobile computing, and software security Specializes in
          object-oriented software design, user-oriented interface design,
          algorithm concepts and data management tools Excellent problem solver
          with strong debugging skills used to troubleshoot issues. A reliable
          worker able to maintain a calm and professional demeanour under
          pressure while meeting deadlines Bilingual in English and French; use
          strong communication skills to support clients and relay technical
          solutions to coworkers in written and oral form. Key Skills IT Project
          Management Software Engineering Networking Web Services Programming
          Advanced Databases Software Security Systems Integration Software
          Testing Technical Support Frontend Development Backend Development
          Full-stack Development Technical Skills Languages: C#, HTML/XML, CSS,
          JavaScript, Java, Python, UNIX Shell Script, and SQL
          Frameworks/Libraries: Node, Angular, React, TypeScript, jQuery, .NET,
          J2EE and EJS O/S: Mac, Windows, UNIX, and GNU/Linux Applications:
          Oracle SQL Developer, GitHub, Jira, Firebase, Visual Code Studio,
          Atom, Visual Paradigm, Visio, IntelliJ, Eclipse, Postman, Studio 3T,
          Figma, Photoshop, and MongoDB
        </p>
        <a href="/resume" class="btn btn-primary" target="_blank">Resume</a>
      </div>
    </div>
  </div>
</div>
