/* app.css - Benjamin Lefebvre - 301234587 - Sept 29th */
/* Custom css goes here */

/* Generic */
/* Nav Bar */
/* Logo upper center */
@media screen and (min-width: 992px) {
  .navbar .container-fluid {
    flex-direction: column;
  }
}

/* Button */
.btn-primary {
  background-color: #01A49A !important;
  border-color: #01A49A;
}
.btn-primary:hover {
  background-color: #01705f !important;
  border-color: #01705f !important;
}

/* Footer */
.navbar-text {
  text-align: center;
  width: 100%;
}

/* About Me */
/* Images */
.img-profil {
    width: 100%;
    padding: 2%;
    border-radius: 50%;
}

.col-md, .col-lg-6 {
  margin: 3% 0;
}

/* Contact Me */
/* Links */
a {
  color: #fff;
}
a:hover {
  color: #01705f;
}

/* Contact message result */
.contact-result {
  display: none;
}

.contact-success {
  font-size: x-small;
  color: #9AE26C;
  display: block;
}

.contact-error {
  font-size: x-small;
  color: #FF7A5A;
  display: block;
}
